* {
    box-sizing: border-box;
    font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.Content {
    padding: 40px;
}

.Select-gender {
    text-align: center;
    border: #e2e8f0;
}

.Gender-filter {
    width: 300px; 
    height: 40px;
    border-radius: 7px;
    padding: 2px 17px;
    border: 2px solid #e2e8f0;
    font-size: 16px;
}

.Card {
    width: 260px;
    height: 380px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid rgb(170, 170, 170);
    text-align: center;
    position: relative;
}

.Card:hover {
    box-shadow:  2px 2px 4px 3px rgba(0, 0, 0, 0.39);
}

.Card:hover .Close-icon{
    display: block;
}

.Card-header {
    width: 100%;
    height: 120px;
    color: white;
    text-align: left;
    background-image: radial-gradient(rgb(58, 115, 153), rgb(26, 75, 114));
}

.User-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.User-gender {
    font-size: 16px;
    color: rgb(136, 136, 136);
    margin-top: 10px;
}

.Card-img {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    border-radius: 50%;
    border: 1px solid rgb(204, 204, 204);
}

.Card-img-content {
    display: flex;
    justify-content: center;
}

.User-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
}

.User-img {
    border-radius: 50%;
    border: 10px solid white;
    width: 100%;
    height: 100%;
}

.User-btn {
    width: 180px;
    height: 40px;
    border: 1px solid currentcolor;
    border-radius: 7px;
    font-size: 16px;
    color: #2b6cb0;
    background: transparent;
    margin-top: 25px;
    padding: 6 16px;
    font-weight: 700;
}

.Close-icon {
    width: 40px;
    height: 40px;
    display: none;
    line-height: 1em;
    flex-shrink: 0;
    color: white;
    vertical-align: middle;
    cursor: pointer;
    background: rgb(48, 70, 84);
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.Display-block {
    display: block;
}

.Display-none {
    display: none;
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10001;
}

.Modal-main{
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 20px;
    border: 10px solid grey;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.Modal-main p {
    font-size: 18px;
    margin-top: 10px;
}

.Modal-btn {
    background: #3182ce;
    color: white;
    margin-top: 25px;
    width: 180px;
    height: 40px;
    border-radius:7px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.Modal-name {
    font-size: 20px;
}

.Loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3182ce;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
    position: relative;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 80em) {
    .User-list {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}